@font-face {
  font-family: 'Montserratarm';
  src: url('../../font/Montserratarm-Thin/Montserratarm-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../font/Montserratarm-Thin/Montserratarm-Thin.otf') format('opentype'),
    url('../../font/Montserratarm-Thin/Montserratarm-Thin.woff') format('woff'),
    url('../../font/Montserratarm-Thin/Montserratarm-Thin.ttf') format('truetype'),
    url('../../font/Montserratarm-Thin/Montserratarm-Thin.svg#Montserratarm-Thin') format('svg');
  font-weight: 100;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../font/Montserratarm-ExtraLight/Montserratarm-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../../font/Montserratarm-ExtraLight/Montserratarm-ExtraLight.otf') format('opentype'),
    url('../../font/Montserratarm-ExtraLight/Montserratarm-ExtraLight.woff') format('woff'),
    url('../../font/Montserratarm-ExtraLight/Montserratarm-ExtraLight.ttf') format('truetype'),
    url('../../font/Montserratarm-ExtraLight/Montserratarm-ExtraLight.svg#Montserratarm-ExtraLight') format('svg');
  font-weight: 200;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../font/Montserratarm-Light/Montserratarm-Light.eot?#iefix') format('embedded-opentype'),
    url('../../font/Montserratarm-Light/Montserratarm-Light.otf') format('opentype'),
    url('../../font/Montserratarm-Light/Montserratarm-Light.woff') format('woff'),
    url('../../font/Montserratarm-Light/Montserratarm-Light.ttf') format('truetype'),
    url('../../font/Montserratarm-Light/Montserratarm-Light.svg#Montserratarm-Light') format('svg');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../font/Montserratarm-Regular/Montserratarm-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../font/Montserratarm-Regular/Montserratarm-Regular.otf') format('opentype'),
    url('../../font/Montserratarm-Regular/Montserratarm-Regular.woff') format('woff'),
    url('../../font/Montserratarm-Regular/Montserratarm-Regular.ttf') format('truetype'),
    url('../../font/Montserratarm-Regular/Montserratarm-Regular.svg#Montserratarm-Regular') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../font/Montserratarm-Medium/Montserratarm-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../font/Montserratarm-Medium/Montserratarm-Medium.otf') format('opentype'),
    url('../../font/Montserratarm-Medium/Montserratarm-Medium.woff') format('woff'),
    url('../../font/Montserratarm-Medium/Montserratarm-Medium.ttf') format('truetype'),
    url('../../font/Montserratarm-Medium/Montserratarm-Medium.svg#Montserratarm-Medium') format('svg');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../font/Montserratarm-SemiBold/Montserratarm-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../font/Montserratarm-SemiBold/Montserratarm-SemiBold.otf') format('opentype'),
    url('../../font/Montserratarm-SemiBold/Montserratarm-SemiBold.woff') format('woff'),
    url('../../font/Montserratarm-SemiBold/Montserratarm-SemiBold.ttf') format('truetype'),
    url('../../font/Montserratarm-SemiBold/Montserratarm-SemiBold.svg#Montserratarm-SemiBold') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../font/Montserratarm-Bold/Montserratarm-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../font/Montserratarm-Bold/Montserratarm-Bold.otf') format('opentype'),
    url('../../font/Montserratarm-Bold/Montserratarm-Bold.woff') format('woff'),
    url('../../font/Montserratarm-Bold/Montserratarm-Bold.ttf') format('truetype'),
    url('../../font/Montserratarm-Bold/Montserratarm-Bold.svg#Montserratarm-Bold') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../font/Montserratarm-ExtraBold/Montserratarm-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../font/Montserratarm-ExtraBold/Montserratarm-ExtraBold.otf') format('opentype'),
    url('../../font/Montserratarm-ExtraBold/Montserratarm-ExtraBold.woff') format('woff'),
    url('../../font/Montserratarm-ExtraBold/Montserratarm-ExtraBold.ttf') format('truetype'),
    url('../../font/Montserratarm-ExtraBold/Montserratarm-ExtraBold.svg#Montserratarm-ExtraBold') format('svg');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserratarm';
  src: url('../../font/Montserratarm-Black/Montserratarm-Black.eot?#iefix') format('embedded-opentype'),
    url('../../font/Montserratarm-Black/Montserratarm-Black.otf') format('opentype'),
    url('../../font/Montserratarm-Black/Montserratarm-Black.woff') format('woff'),
    url('../../font/Montserratarm-Black/Montserratarm-Black.ttf') format('truetype'),
    url('../../font/Montserratarm-Black/Montserratarm-Black.svg#Montserratarm-Black') format('svg');
  font-weight: 900;
}