@import '../main';
@import '../footer';
@import '../navbar';

.header {
    width: 100%;
    background: #727EE9;
    padding: 153px 15px 33px;

    @media (max-width: 980px) {
        padding: 100px 15px 30px;
    }

    @media (max-width: 580px) {
        padding: 166px 34px 13px;
        background: #292F89;
    }

    &__title {
        color: #fff;
        text-align: center;
        font-size: 118px;
        font-weight: 900;
        line-height: 159px;

        @media (max-width: 1280px) {
            font-size: 90px;
            line-height: 120px;
            font-weight: 800;
        }

        @media (max-width: 980px) {
            font-size: 64px;
            line-height: 90px;
            font-weight: 700;
        }

        @media (max-width: 580px) {
            font-size: 41px;
            line-height: 130%;
            text-align: left;
        }
    }
}

.footer {
    position: static;
    background: #292F89;
}


.projects {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 140px 15px;

    @media (max-width: 1280px) {
        padding: 100px 15px;
    }
    @media (max-width: 520px) {
        padding: 60px 15px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;

        @media (max-width: 1280px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 520px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        border-radius: 27px;
        overflow: hidden;

        &_pic {
            width: 100%;
            height: 250px;

            &_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_desc {
            display: grid;
            align-items: center;
            grid-template-rows: 64px 44px;
            background: #292F89;
            padding: 30px 20px;

            &_title {
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                color: #fff;
                margin-bottom: 20px;
            }

            &_pr {
                text-align: center;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}